@media only screen and (max-width:768px) {
    .container{
        max-width: 99%;
    }
.nav__logo a{
display: none;
}
.title{
    margin-top: 2.8rem;
}    
.title h2{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.title p{
    margin-bottom: 0.5rem;
}
.title input{
    width: 100%;
    height: 55px;
    text-indent: 25px;
    border: 0;
    outline: none;
    border-radius: 100px;
    font-family: var(--roboto);
    font-size: 1.3rem;
}
.design .title h2{
    font-size: 1.9rem;
}
.design__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}
.recent .title  h2 {
    font-size: 1.9rem;
}
.recent .title  p {
    font-size: 0.8rem;
}
.recent__content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
}
.mi__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}
}
@media only screen and (max-width:468px) {
    .container{
        max-width: 100%;
    }
.design .title h2{
    font-size: 1.8rem;
}
}
@media only screen and (max-width:368px){
.title h2{
    font-size: 1.7rem;
}

.design .title h2{
    font-size: 1.2rem;
}
.recent .title h2{
    font-size: 1.2rem;
}
.recent__img span{
    left: 75%;
}

.mi__item p{
    font-size: 0.9rem;
}
}